/* PAGE 2 - GALLERY */

.nav-link {
	font-size: 22px;
	font-family: 'Bitter', serif;
}

nav  li{
	background-color: white;
	opacity: 1;

}

nav li a {
	color: grey;
	font-size: 14px;
}

nav{
	background-color: white;
	opacity: 0.8;
}

nav li:hover{
	transition:0.3s;
	color: pink;
}

nav li a:hover{
	color: white;
}


.gallery-margin {
	margin-top: 70px;
}

.img {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}

img {
	position: relative;
	display: inline-block;
}

img {
	border: solid 7px white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: filter 0.5s linear, transform 0.5s linear;
}

img:hover {
	filter: blur(4px);
	transform: scale(2);
}

img:hover {
	filter: blur(0);
	transform: scale(2);
	z-index: 2;
}

/* SPACE-DIV */
.space-div {
	height: 150px;
}

/* FOOTER */
* FOOTER */

footer {
  background-color: white;
  opacity: 0.8;
  position:absolute;
  bottom:0;
  width:100%;
}

footer p{
  font-size: 12px;
}


.fa-facebook-f{
  margin-right: 5px;
}


.fa-twitter{
  margin-left: 15px;
}

.fa-instagram{
  margin-left: 15px;
}

.fa-linkedin-in{
  margin-left: 15px;
}
